.head{
    background-color: rgb(165, 165, 235);
    padding: 1.2%;
    line-height: 0.3;
    text-align: center;
    color: rgb(90, 90, 168);
}

.title{
    font-family: 'Times New Roman', Times, serif;
}

.card_title{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(127, 127, 224);
    font-weight: bold;
}

.card_subtitle{
    font-weight: bold;
}

.barra{
    background-color: rgb(86, 86, 180);
    justify-content: space-between;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barra span{
	padding: 0.6% 0.4% 0.6% 0.4%;
}

.barra span:hover{
	background-color: rgb(159, 95, 159);
}

body{
    background-color: rgb(240, 236, 236);    
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content_em_alta{
    padding: 0% 1.5% 0% 1.5%;
    width: 25%;
    background-color: white;
}

.content_body{
    margin: 2% 0.5% 0.5% 1%;
    display: flex;
    flex-direction: column;
}

.row{
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    padding: 0% 1.5% 1% 1.5%;
    margin-right: 0.5%;
    width: 40%;
    background-color:white;
}

.card_i{
    margin-right: 0.5%;
    width: 50%;
    background-color: white;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.row :hover{
	background-color: rgb(226, 186, 225);
}

.card_row{
	padding: 0% 1.5% 1% 1.5%;
}

img {
    display: block;
    width: 100%;
    height: 200px;
}

.fill{
    object-fit: fill;
  }
